[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ergMargins"]
	path = ergMargins
	url = https://github.com/cran/ergMargins
[submodule "netmediate"]
	path = netmediate
	url = https://github.com/cran/netmediate
[submodule "rewie"]
	path = rewie
	url = https://github.com/sduxbury/rewie
